@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--neue), sans-serif;
  /* Use the custom CSS variable to apply the loaded fonts */
}

.calc-height {
  height: calc(100vh - 130px);
}
.section-devider {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 1024px) {
  .section-devider {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
